CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_aliyun_ap8220=y
CONFIG_IMAGEOPT=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-basic-mbedtls=m
CONFIG_PACKAGE_hostapd-basic-openssl=m
CONFIG_PACKAGE_hostapd-basic-wolfssl=m
CONFIG_PACKAGE_hostapd-mbedtls=m
CONFIG_PACKAGE_hostapd-mini=m
CONFIG_PACKAGE_hostapd-openssl=m
CONFIG_PACKAGE_hostapd-utils=m
CONFIG_PACKAGE_hostapd-wolfssl=m
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_libopenssl=m
CONFIG_PACKAGE_libopenssl-conf=m
CONFIG_PACKAGE_libopenssl-legacy=m
CONFIG_PACKAGE_libwolfssl=m
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_wpa-supplicant=m
CONFIG_PACKAGE_wpa-supplicant-basic=y
CONFIG_PACKAGE_wpa-supplicant-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-openssl=m
CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl=m
CONFIG_PACKAGE_wpa-supplicant-mini=m
CONFIG_PACKAGE_wpa-supplicant-openssl=m
CONFIG_PACKAGE_wpa-supplicant-p2p=m
CONFIG_PACKAGE_wpa-supplicant-wolfssl=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_wpad-basic=m
CONFIG_PACKAGE_wpad-basic-mbedtls=m
CONFIG_PACKAGE_wpad-basic-openssl=m
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-openssl=m
CONFIG_PACKAGE_wpad-mesh-wolfssl=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PACKAGE_wpad-openssl=m
CONFIG_PACKAGE_wpad-wolfssl=m
CONFIG_WOLFSSL_HAS_NO_HW=y
CONFIG_WPA_ENABLE_WEP=y
CONFIG_WPA_RFKILL_SUPPORT=y
CONFIG_WPA_WOLFSSL=y
