CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_IMAGEOPT=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_acme-acmesh=y
CONFIG_PACKAGE_acme-common=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_gecoosac=y
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-basic-mbedtls=m
CONFIG_PACKAGE_hostapd-basic-openssl=m
CONFIG_PACKAGE_hostapd-basic-wolfssl=m
CONFIG_PACKAGE_hostapd-mbedtls=m
CONFIG_PACKAGE_hostapd-mini=m
CONFIG_PACKAGE_hostapd-openssl=m
CONFIG_PACKAGE_hostapd-utils=m
CONFIG_PACKAGE_hostapd-wolfssl=m
CONFIG_PACKAGE_hs20-common=y
CONFIG_PACKAGE_ip-tiny=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=m
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_libnghttp2=m
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl-legacy=m
CONFIG_PACKAGE_libowipcalc=m
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libwolfssl=m
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci-app-acl=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-gecoosac=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_owipcalc=m
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_wg-installer-client=m
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_wireguard-tools=m
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_wpa-supplicant=m
CONFIG_PACKAGE_wpa-supplicant-basic=y
CONFIG_PACKAGE_wpa-supplicant-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-openssl=m
CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl=m
CONFIG_PACKAGE_wpa-supplicant-mini=m
CONFIG_PACKAGE_wpa-supplicant-openssl=m
CONFIG_PACKAGE_wpa-supplicant-p2p=m
CONFIG_PACKAGE_wpa-supplicant-wolfssl=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_wpad-basic=m
CONFIG_PACKAGE_wpad-basic-mbedtls=m
CONFIG_PACKAGE_wpad-basic-openssl=m
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-mbedtls=m
CONFIG_PACKAGE_wpad-mesh-openssl=m
CONFIG_PACKAGE_wpad-mesh-wolfssl=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PACKAGE_wpad-openssl=m
CONFIG_PACKAGE_wpad-wolfssl=m
CONFIG_PACKAGE_zlib=y
CONFIG_WOLFSSL_HAS_NO_HW=y
CONFIG_WPA_ENABLE_WEP=y
CONFIG_WPA_RFKILL_SUPPORT=y
CONFIG_WPA_WOLFSSL=y
